.App{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
}
